html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E5EDF5;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    height: 10%;
    color: black;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.buttons {
    font-size: 15px;
    width: 100%;
    align-content: center;
    align-items: center;
    margin-left: 50px;
    flex-wrap: nowrap;
}
.main-buttons {
    background-color: white;
    height: 35px;
    min-width: 18%;
    text-transform: uppercase;
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 700;
}
#expenses-btn {
    background: transparent;
    border: 1.5px solid #576574;
    color: #576574;
}
#products-btn {
    background:transparent;
    border: 1.5px solid #1DD1A1;
    color: #1DD1A1;
    margin-right: 10px;
}
span,p {
    color: black;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

#profile-image {
    width: 25px;
    height: 25px;
}

/* Main content*/


#main-box {
    display: flex;
    width: 50%;
    height: 70%;
    margin: auto;
    border-radius: 6px;
    margin-left: 200px;
}
.box-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin:auto;
    background-color: #fff;
    padding: 0;
    height: 620px;
    width: 575px;
}
form{
    margin-left: 50px;
}

.new-product-div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    background-color: #C6C6C6;
    border-radius: 6px;
    text-align: center;
    color:#8d8d8d;
    width: 525px;
    height: 620px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}
#new-products-h2{
    margin-left: 200px;
}
.new-product-div span i{
    font-size: 50px;
    display: inline-block;
}
.new-product-div span {
    display: inline-block;
}

#primary-button {
    margin-top:60px;
}










@media screen and (max-width: 800px) {
    button {
       display: inline-block;
    }
}


@media screen and (max-width: 700px) {
    .buttons {
       display: inline-block;
       flex-wrap: wrap;
       flex-direction: column;
       flex: 1;
    }
    .right-side{
        width: 25%;
    }
    .main-div label{
        position: absolute;
        top: 80px;
        left: 50px;
    }
}