html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: #e5edf5;
    font-family: 'Roboto', sans-serif;
    background-color: #E5EDF5;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: #fff;
    border: 1px solid black;
    
}

.buttons {
    font-size: 15px;
    
}
button {
    background-color: white;
}
#expenses-btn {
    background: transparent;
    border: 2px solid #576574;
    color: #576574;
}
span,p {
    color: black;
}

.right-side {
    display: inline;
}