<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expenses</title>
    <link rel="stylesheet" href="Expenses.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
</head>
<body>

        <header>
                <nav class="nav">
                    <div class="buttons">
                        <a href="../Products/Products.html"><button class="main-buttons" id="products-btn">Products</button></a>
                        <a href="Expenses.html"><button class="main-buttons" id="expenses-btn">Expenses</button></a>
                    </div>
                    <div class="right-side">              
                            <img id="profile-image" src="../../assets/images/small_profile.png" alt="profile-image"><p>Gal Gadot</p>
                    </div>
                </nav>
            </header>

       
        <h3 id="expenses-h3">Expenses</h3>

        <div class="expenses-div">
                <a href="#"><button id="monthly-btn">Monthly</button></a>
                <a href="#"><button id="yearly-btn">Yearly</button></a>
                <div class="select-div">
                    <label for="month-select">Choose month:</label>
                        <select name="month-select" id="month-select">
                            <option value='1'>January</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option selected value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>

                </div>
            
        </div>

        <main class="main-box">
                <table class="table">
                    <thead>
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Product Description</th>
                        <th>Purchase Date</th>
                        <th>Product Price</th>
                    </thead>
                    <tr>
                        <td id="emptyTd"></td>
                    </tr>
                    <tbody>
                        <tr id="first-tr" class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        <tr class="body-tr">
                            <td>Coca-Cola</td>
                            <td>Drink</td>
                            <td>carbonated soft drink</td>
                            <td>21.08.2019</td>
                            <td>75</td>
                        </tr>
                        
                    </tbody>
                </table>
            </main>

            <div class="transparent-div">
                <p>Total spent: <span>1025</span> den.</p>
            </div>
</body>
</html>